<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Unit Converter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Unit Converter</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container ion-padding">
    <!-- <div class="measures">
      <div class="measure" *ngFor="let measure of measures" [class.isActive]="measure.isActive" (click)="selectMeasure(measure)">
        <a>{{measure.name}}</a>
      </div>
    </div> -->

    <ion-text class="title ion-margin-vertical ion-padding">Metric System</ion-text>

    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="meter">
      <ion-text>Meter</ion-text>
      <p>==></p>
      <input type="number" [value]="meter*100" readonly>
      <ion-text>Centimeter</ion-text>
    </div>

    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="kilometer">
      <ion-text>Kilometer</ion-text>
      <p>==></p>
      <input type="number" [value]="kilometer*10" readonly>
      <ion-text>Hectometer</ion-text>
    </div>

    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="hectometer">
      <ion-text>Hectometer</ion-text>
      <p>==></p>
      <input type="number" [value]="hectometer*10" readonly>
      <ion-text>Decameter</ion-text>
    </div>

    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="decameter">
      <ion-text>Decameter</ion-text>
      <p>==></p>
      <input type="number" [value]="decameter*10" readonly>
      <ion-text>Meter</ion-text>
    </div>

    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="meter">
      <ion-text>Meter</ion-text>
      <p>==></p>
      <input type="number" [value]="meter*10" readonly>
      <ion-text>Decimeter</ion-text>
    </div>

    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="decimeter">
      <ion-text>Decimeter</ion-text>
      <p>==></p>
      <input type="number" [value]="decimeter/100" readonly>
      <ion-text>Decameter</ion-text>
    </div>

    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="hectometer">
      <ion-text>Hectometer</ion-text>
      <p>==></p>
      <input type="number" [value]="hectometer*10000" readonly>
      <ion-text>Centimeter</ion-text>
    </div>

    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="centimeter">
      <ion-text>Centimeter</ion-text>
      <p>==></p>
      <input type="number" [value]="centimeter*10" readonly>
      <ion-text>millimeter</ion-text>
    </div>
    <ion-text class="title ion-margin-vertical ion-padding">Imperial System</ion-text>
    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="feet">
      <ion-text>Feet</ion-text>
      <p>==></p>
      <input type="number" [value]="feet*12" readonly>
      <ion-text>Inches</ion-text>
    </div>
    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="yard">
      <ion-text>Yard</ion-text>
      <p>==></p>
      <input type="number" [value]="yard*3" readonly>
      <ion-text>Feet</ion-text>
    </div>
    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="yard">
      <ion-text>Yard</ion-text>
      <p>==></p>
      <input type="number" [value]="yard*36" readonly>
      <ion-text>Inches</ion-text>
    </div>
    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="mile">
      <ion-text>Mile</ion-text>
      <p>==></p>
      <input type="number" [value]="mile*1760" readonly>
      <ion-text>Yard</ion-text>
    </div>
    <div class="mtocm ion-padding-horizontal">
      <input type="number" [(ngModel)]="mile">
      <ion-text>Mile</ion-text>
      <p>==></p>
      <input type="number" [value]="mile*5280" readonly>
      <ion-text>Feet</ion-text>
    </div>

    <!-- <div class="conversion">
      <select [(ngModel)]="car.colour">
        <option *ngFor="let x of colours" [value]="x.id" [selected]="car.color.id == x.id">{{x.name}}</option>
    </select>
    </div> -->
  </div>
</ion-content>