<ion-menu contentId="main-content">
    <div class="header">
        <div class="header-title">
            <img src="../assets/icon/growth.png">
            <h1 class="title">Unit<br> Converter</h1>
        </div>
        <div class="version">
            <ion-text>ver 1.0.0</ion-text>
            <img src="../assets/icon/favicon.png">
        </div>
    </div>
    <ion-content class="ion-padding menu-buttons" color="light">
        <ion-text class="menu-buttons-title ion-margin-bottom">More Apps</ion-text>
        <div class="menu-buttons-app-list">
            <ion-menu-toggle routerLink="/sip">SIP Calculator</ion-menu-toggle>
            <!-- <ion-menu-toggle routerLink="/">Unit Converter</ion-menu-toggle> -->
            <ion-menu-toggle routerLink="/fd">FD Calculator</ion-menu-toggle>
            <ion-menu-toggle routerLink="/rd">RD Calculator</ion-menu-toggle>
        </div>
    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
    <ion-app>
        <ion-router-outlet></ion-router-outlet>
    </ion-app>
</div>