<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Unit Converter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Unit Converter</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container ion-padding">

    <ion-text class="title ion-margin-vertical ion-padding">Basic Distance System</ion-text>

    <div class="conversion-box ion-margin-vertical">
      <div class="box">
        <input type="number" [(ngModel)]="inputValue" (ngModelChange)="convert()" />
        <select class="selection" [(ngModel)]="fromUnit" (ngModelChange)="convert()">
          <option value="meters">Meters</option>
          <option value="feet">Feet</option>
          <option value="inches">Inches</option>
        </select>
      </div>
      <div class="box">
        <input type="number" [value]="outputValue" disabled />
        <select class="selection" [(ngModel)]="toUnit" (ngModelChange)="convert()">
          <option value="meters">Meters</option>
          <option value="feet">Feet</option>
          <option value="inches">Inches</option>
        </select>
      </div>
    </div>
  </div>
</ion-content>